---
const { href } = Astro.props;
const base = import.meta.env.BASE_URL;
let currect = href;
if (!href?.startsWith(base)) {
   currect = base + (href?.startsWith('/') ? href.slice(1) : href);
}
---
<a href={currect} {...Astro.props}>
   <slot/>
</a>
